@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-size: 16px;
}

.container {
  padding: 16px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

body {
  .swiper-button-prev,
  .swiper-button-next {
    background-color: black;
    opacity: 0.8;
    border-radius: 100%;
    height: 30px;
    width: 30px;
  }
  .swiper-button-next::after {
    display: block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    padding-top: 1px;
    height: 15px;
    width: 15px;
    font-size: 15px;
    font-family: unset;
    height: fit-content !important;
  }
  .swiper-button-prev::after {
    display: block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
    padding-top: 1px;
    margin-right: 3px;
    height: 15px;
    width: 15px;
    font-size: 15px;
    font-family: unset;
    height: fit-content !important;
  }

  .capitalize-first:first-letter {
    text-transform: capitalize;
  }
  button {
    padding: 6px 12px;
    color: black;
    border-radius: 0.5em;
  }
  input,
  textarea {
    padding: 0.5em 0.75em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #efefef;
    border-radius: 3px;
  }
  input:focus,
  textarea:focus {
    outline-style: none !important;
  }

  .headless-table {
    font-size: 10px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
    .thead {
      width: 100%;
      font-weight: 700;
      .tr {
        border: 1px solid black;
        display: grid;
      }

      .th {
        border-right: 1px solid black;
        text-align: start;
        padding-left: 0.25em;
      }
      .th:last-child {
        border: none;
      }
    }
    .tbody {
      .tr {
        border: 1px solid black;
        border-top: none;
        display: grid;

        .td {
          padding-left: 0.25em;
          border-right: 1px solid black;
        }
        .td:last-child {
          border: none;
        }
      }
    }
  }
}
