@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserat";
  font-size: 10px;

  @media (min-width: 824px) {
    font-size: 16px;
  }
}

.container {
  padding: 16px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

body {
  .capitalize-first:first-letter {
    text-transform: capitalize;
  }
  button {
    padding: 6px 12px;
    color: black;
    border-radius: 0.5em;
  }
  input,
  textarea {
    padding: 0.5em 0.75em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 3px;
  }
  input:focus,
  textarea:focus {
    outline-style: none !important;
  }

  .headless-table {
    thead {
      tr {
        border: 1px solid black;
        display: grid;
      }

      th {
        border-right: 1px solid black;
        text-align: start;
        padding-left: 0.5rem;
      }
      th:last-child {
        border: none;
      }
    }
    tbody {
      tr {
        border: 1px solid black;
        border-top: none;
        display: grid;

        td {
          padding-left: 0.5rem;
          border-right: 1px solid black;
        }
        td:last-child {
          border: none;
        }
      }
    }
  }
}
