@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserat";
}
body {
  .headless-table {
    .page-container {
      max-width: 1000px;
      padding: 32px;
      margin-right: auto;
      margin-left: auto;
    }
    .container {
      padding-left: 16px;
      padding-right: 16px;
      margin-right: auto;
      margin-left: auto;
    }

    thead {
      tr {
        border: 1px solid black;
        display: grid;
      }

      th {
        border-right: 1px solid black;
        text-align: start;
        padding-left: 0.5rem;
      }
      th:last-child {
        border: none;
      }
    }
    tbody {
      tr {
        border: 1px solid black;
        border-top: none;
        display: grid;

        td {
          padding-left: 0.5rem;
          border-right: 1px solid black;
        }
        td:last-child {
          border: none;
        }
      }
    }
  }
}
